body {
  margin: 5px;

}

label {
	display: inline-block;
	width: 200px;
	margin: 5px;
	text-align: left;
}

input[type=text], input[type=password], select {
	display: inline-block;
	width: 200px;
}

textarea {
	display: inline-block;
	width: 200px;
	margin-top: 5px;
}

input[type=radio] {
	margin-left: 45px;
}

input[type=checkbox] {
	margin-right: 190px;
}

button {
	padding: 5px;
	margin: 10px;
}

span {
	display: inline-block;
	width: 200px;
	text-align: left;
}

input:read-only {
	pointer-events: none;
	background: lightgrey;
}

<!-- credits to w3schools>
/* Add a background color to the top navigation */
.topnav {
  background-color: #afcecf;
  overflow: hidden;
}

#topnav-override {
  background-color: #255a58;
  overflow: hidden;
  height: 30px;
}

/* Style the links inside the navigation bar */
.topnav a {
  /*float: left;*/
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}