<form class="form-horizontal">
	<fieldset>

		<!-- Form Name -->
		<legend>Customer Order Creation</legend>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="customerName">Customer
				Name</label>
			<div class="col-md-5">
				<input id="customerName" name="customerName" type="text"
					placeholder="Enter a name" class="form-control input-md"
					required="">

			</div>
		</div>

		<!-- Select Basic -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="purchasedProduct">Purchased
				Product</label>
			<div class="col-md-4">
				<select id="purchasedProduct" name="purchasedProduct"
					class="form-control">
					<option value="1">Product 1</option>
					<option value="2">Product 2</option>
				</select>
			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="purchasedQuantity">Purchased
				Quantity</label>
			<div class="col-md-5">
				<input id="purchasedQuantity" name="purchasedQuantity" type="text"
					placeholder="Enter a number" class="form-control input-md">

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="orderDate">Order
				Date</label>
			<div class="col-md-5">
				<input id="orderDate" name="orderDate" type="text"
					placeholder="Enter a date" class="form-control input-md">

			</div>
		</div>

	</fieldset>
</form>
