<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Customer Registration</title>
<link th:href="@{/styles.css}" rel="stylesheet" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div align="center">
		<h1>Customer Informate Update</h1>
		<form action="#" th:action="@{/updateCustomer}" method="post"
			th:object="${customer}">
			
			<!-- Add disabled form field to handle update -->
            <label>Customer ID:</label> <input type="text" readonly th:field="*{customerId}" /><br />
			
			<label>Customer Name:</label> <input type="text" th:field="*{customerName}" /><br />

			<label>Address:</label> <input type="text" th:field="*{customerAddress}" /><br />

			<label>Phone No.:</label> <input type="text" th:field="*{customerPhoneNo}" /><br />

			<button type="submit" class="btn btn-info col-2"> Update </button>
		</form>
		
	</div>
</body>
</html>