<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link id="dark-theme-style" rel="stylesheet" />
<link th:href="@{/styles.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/main.js}" async></script>
</head>

<body>
	<header style="margin-bottom:20px "><div th:replace="fragments/nav.html :: topnav"></div></header>
	<h3>Welcome, user!</h3>
</body>

</html>