<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Products Management</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link id="dark-theme-style" rel="stylesheet" />
<link th:href="@{/styles.css}" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/main.js}" async></script>
</head>

<body>
	<header style="margin-bottom:20px "><div th:replace="fragments/nav.html :: topnav"></div></header>

	<div class="container my-2">
		<h1>Products List</h1>

		<a th:href="@{/registerProduct}" class="btn btn-primary btn-sm mb-3">
			Add Product </a>

		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Product ID</th>
					<th>Product Name</th>
					<th>Product Description</th>
					<th>Product Quantity</th>
					<th>Minimum Stock Requirement</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${listProducts}">
					<td th:text="${product.productId}"></td>
					<td th:text="${product.productName}"></td>
					<td th:text="${product.productDesc}"></td>
					<td th:text="${product.productQuantity}"></td>
					<td th:text="${product.minimumStock}">></td>
					<td><a
						th:href="@{/updateProduct/{id}(id=${product.productId})}"
						class="btn btn-primary">Update</a> <a
						th:href="@{/deleteProduct/{id}(id=${product.productId})}"
						th:onclick="return confirm('Are you sure you want to delete this product[[${product.productName}]]')"
						class="delete btn btn-danger">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>