<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Customer Order Registration</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link id="dark-theme-style" rel="stylesheet" />
<link th:href="@{/styles.css}" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/main.js}" async></script>
</head>
<body>
<header style="margin-bottom:20px "><div th:replace="fragments/nav.html :: topnav"></div></header>

	</div>
	<div align="center">
		<h1>Customer Order Created</h1>
		<form class="form-horizontal" action="#" th:object="${customerOrder}">
			<div class="form-group">
			<label>Order ID:</label> 
			<input type="text" th:value="*{orderId}" readonly/>
			</div>
			<div class="form-group">
			<label>Customer Name:</label> 
			<input type="text" th:value="${customerName}" readonly/>
			</div>
			<div class="form-group">
			<label>Purchased Product:</label> 
			<input type="text" th:value="${productName}" readonly/>
    		</div>
    		<div class="form-group">
			<label>Purchased Qauantity:</label> 
			<input type="number" th:field="*{purchaseQuantity}" readonly/>
			</div>
			<div class="form-group">
			<label>Purchased Price:</label> 
			<input type="number" step="0.01" th:field="*{purchasePrice}" readonly/>
			</div>
			<div class="form-group ">
			<label>Order Date:</label> 
			<input type="date" th:field="*{orderDate}" readonly/>
			</div>
			<div class="form-group">
			<label>Order Status:</label> 
			<input type="text" th:field="*{status}" readonly/>
			</div>
		</form>

	</div>
</body>
</html>