<form class="form-horizontal">
	<fieldset>

		<!-- Form Name -->
		<legend>Supplier Registration</legend>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="supplierName">Supplier
				Name</label>
			<div class="col-md-5">
				<input id="supplierName" name="supplierName" type="text"
					placeholder="Enter a name" class="form-control input-md"
					required="">

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="supplierAddress">Supplier
				Address</label>
			<div class="col-md-5">
				<input id="supplierAddress" name="supplierAddress" type="text"
					placeholder="Enter an address" class="form-control input-md"
					required="">

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="supplierPhoneNo">Supplier
				Phone No.</label>
			<div class="col-md-5">
				<input id="supplierPhoneNo" name="supplierPhoneNo" type="text"
					placeholder="Enter a phone number" class="form-control input-md">

			</div>
		</div>

		<!-- Select Multiple -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="suppliedProducts">Supplied
				Products</label>
			<div class="col-md-4">
				<select id="suppliedProducts" name="suppliedProducts"
					class="form-control" multiple="multiple">
					<option value="1">Product 1</option>
					<option value="2">Product 2</option>
				</select>
			</div>
		</div>

	</fieldset>
</form>
