<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Suppliers Management</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link th:href="@{/styles.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/main.js}" async></script>
</head>

<body>
	<div th:replace="fragments/nav.html :: topnav"></div>

	<div class="container my-2">
		<h1>Suppliers List</h1>

		<a th:href="@{/registerSupplier}" class="btn btn-primary btn-sm mb-3">
			Add Supplier </a>

		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Supplier ID</th>
					<th>Supplier Name</th>
					<th>Supplier Address</th>
					<th>Supplier Phone No.</th>
					<th>Supplied Products</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="supplier : ${listSuppliers}">
					<td th:text="${supplier.supplierId}"></td>
					<td th:text="${supplier.supplierName}"></td>
					<td th:text="${supplier.supplierAddress}"></td>
					<td th:text="${supplier.supplierPhoneNo}"></td>
					<td th:text="${#strings.listJoin(supplier.suppliedProducts.![productName], ',')}"></td>
					<td><a
						th:href="@{/updateSupplier/{id}(id=${supplier.supplierId})}"
						class="btn btn-primary">Update</a> <a
						th:href="@{/deleteSupplier/{id}(id=${supplier.supplierId})}"
						th:onclick="return confirm('Are you sure you want to delete this supplier [[${supplier.supplierName}]]')"
						class="delete btn btn-danger">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>